*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #023047;
    color: #fff;
    padding: 25px 60px;
    margin: 30px;
}

.cart{
    position: relative;
    font-size: 30px;
}

.totalCartQty {
    position: absolute;
    top: -10px;
    right: -8px;
    background-color: #fb8500;
    font-size: 16px;
    padding: 3px;
    border-radius: 3px;

}
.produtList{
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 30px;
    justify-content: center;

}
.item{
    border: 1px solid #023047;
    border-radius: 5px;
}

.details{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.price-qty{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons{
    display: flex;
    gap: 8px;
}
.bi-dash-square{
    color: red;
}

.bi-plus-square{
    color: green;
}

@media(max-width: 1000px) {
    .produtList {
        grid-template-columns: repeat(2, 250px);
    }
}

@media(max-width: 500px) {
    .produtList {
        grid-template-columns: repeat(1, 250px);
    }
}